{% extends 'base.html' %}

{% block content %}

<h1>Наші номери</h1>

{% for room in room_list %}
    <div class="card" style="width: 18rem;">
        <img src="{{room.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{room.name}}</h5>
            <p class="card-text">{{room.price}} грн</p>
            <a href="{% url 'booking_page' room.id %}" class="btn btn-primary">Забронювати</a>
        </div>
    </div>
    {% empty %}
    <li class="list-group-item"> Немає кімнат. </li>
    {% endfor %}



{% endblock %}